:root {
    --border-test: 2px solid red;
}

#project-form-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#project-form-container {
    display: flex;
    border: var(--border-test);
    width: 50rem;
    height: 30rem;
}

#project-close-form {
    margin: auto 1rem 1rem auto;
    cursor: pointer;
    font-size: 2rem;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: red;
}